<div class="sidenav index">
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle" />
  <div class="menu">
    <a routerLink="/" class="sitelink">{{ siteTitle }}</a>
    <a routerLink="/admin-login" class="link">Admin Portal</a>
    <a routerLink="/login" class="link">Login</a>
    <a routerLink="/signup" class="link">Sign Up</a>
  </div>
</div>
<div>
  <div class="main-wrapper home">
    <div class="landing">
      <h2>{{ landingMessage }}</h2>
      <a routerLink="/login">
        <button class="btn btn-pri">CHECK IT OUT</button>
      </a>
    </div>
  </div>
</div>
